#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, h1, ul, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', Helvetica, sans-serif;
  background-color: revert-layer;
  color: #0c0c0c;
  line-height: 1.6;
  padding: 20px;
  font-size: 18px;
}

h1 {
  color: #fff;
  padding: 20px;
}

h2 {
  color: rgb(103, 192, 222);
  padding: none;
  border: none;
}

form {
  margin-bottom: 60px;
}

input[type="text"] {
  padding: 8px 70px;
  font-size: 20px;
  margin-right: 8px;
  border-radius: 50px;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  background-color: revert-lay;
  margin-bottom: 20px;
  padding: 7px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.task-content {
  flex-grow: 1;
}

span {
  background-color: lightgrey; 
  padding: 5px; 
  border-radius: 5px; 
}

li button {
  background-color: #28AFB0;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-end; 
  margin-left: 10px; 
} 
.button-container {
  display: flex;
  justify-content: space-between;
  background-color:revert-layer;
}


